<title>yukicoder Wiki</title>
<h4 class="shadow">このWikiについて</h4>
<p>
    ACの問題数が10以上の方であれば、誰でも編集することができます。
</p>
<p>
    新しいページを作成するには <code>/wiki/〇〇</code> とURLに入力し、右上の編集を押せばいいです。
</p>
<p>
    サイト的にはまだ実装途中で、まだ編集履歴のUIが無いですが、バージョン管理されてるので、管理者に言っていただければ戻せます。<br>
    現状、<a href="https://bitbucket.org/yuki2006/yukicoder_wiki/commits/all" target="_blank">https://bitbucket.org/yuki2006/yukicoder_wiki/commits/all</a>から変更履歴を見ることができます。
</p>
<p>
    基本的には、思ったことを書き留めてるページで、メモ帳代わりに使って頂ければいいです。（整理したいと思ったら整理します。）<br>
    管理者の思想的に、"逆引き" や "気づかなかったことを知れる" みたいな wiki にしたいと思ってます。
</p>


<h4 class="shadow">初心者の方向け</h4>

<h5>参加方法についてのまとめ</h5>
<ul>
    <li><a href="/wiki/guide">初心者のためのガイド</a></li>
    <li><a href="/wiki/stdio">言語別標準入出力（追記中）</a></li>
    <li><a href="/wiki/enviroment_tips">環境構築まとめ（エディタ、環境別Tips）</a></li>

    <li><a href="/wiki/useful_standard_function">使えそうな標準関数</a></li>
    <li><a href="/wiki/shell">使えると便利なシェルのコマンド(MacOS, Linux)</a></li>
</ul>
<h5>問題・解答についてのまとめ</h5>
<ul>
    <li><a href="/wiki/mathematical_property">競プロで役に立つ数学的な性質</a></li>
    <li><a href="/wiki/mistake">誤解答のハマリどころまとめ</a></li>
    <li><a href="/wiki/reactive">リアクティブ形式の問題についてのまとめ</a></li>
    <li><a href="/wiki/knowledge">競技プログラミングをする上でのあると嬉しい予備知識</a></li>
</ul>
<h5>アルゴリズムイントロダクション</h5>
<ul>
    <li><a href="/wiki/algorithm_summary">アルゴリズムの簡単なまとめ</a></li>
    <li><a href="/wiki/pattern">競技プログラミング問題パターンメモ</a></li>
    <li><a href="/wiki/slide">競技プロ的なスライドまとめ</a></li>
    <li><a href="/wiki/%E8%A4%87%E9%9B%91%E6%80%A7%E3%82%AF%E3%83%A9%E3%82%B9">複雑性クラスについて（PとかNP）</a></li>
</ul>
<h5>参考書籍</h4>
<ul>
    <li><a href="/wiki/book">参考書籍</a></li>
</ul>

<h4 class="shadow">作問者・テスター向けページ</h4>
<h5>yukicoder の基本的な作問方法</h5>
<ul>
    <li><a href="/wiki/problem_writing_publishing">作問から公開までの流れ</a></li>
    <li><a href="/wiki/validate_testcases">テストケースバリデーションの書き方</a></li>
    <li><a href="/wiki/howtojudge">スペシャルジャッジの基本的な書き方</a></li>
</ul>
<h5>ガイドライン <strong>(必ず目を通してください)</strong> </h5>
<ul>
    <li><a href="/wiki/problem_policy">問題ポリシー</a></li>
    <li><a href="/wiki/problem_checklist">作問用チェックリスト</a></li>
    <li><a href="/wiki/tester_guideline">テスターガイドライン</a></li>
    <li><a href="/wiki/テスター用チェックリスト">テスター用チェックリスト</a></li>
</ul>
<h5>ページの書き方についてのまとめ</h5>
<ul>
    <li><a href="/wiki/mathjax">MathJaxテンプレート</a></li>
    <li><a href="/wiki/edit_html_page">ページ編集に使えるHTML記法についてのまとめ</a></li>
    <li><a href="/wiki/mathjax_signature">作問などで使う記号</a></li>
    <li><a href="/wiki/add_images">画像の貼り方</a></li>
</ul>


<p>
    テストケースのファイル名で使える文字(これら以外の文字を使用するとアップロード時に対象の文字が消去されます。）<br>
    <code>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz._0123456789</code>
</p>



<h4 class="shadow">上級者向け</h4>
<ul>
    <li><a href="/wiki/mod_approach">modに対するアプローチ</a></li>
    <li><a href="/wiki/shortest_path">最短路問題</a></li>
    <li><a href="/wiki/range_minimum_query">RMQ(Range Minimum Query)</a></li>
    <li><a href="/wiki/lowest_common_ancestor">Lowest Common Ancestor</a></li>
    <li><a href="/wiki/polynomial_techniques">多項式を使うテクニックたち</a></li>
    <li><a href="/wiki/black_box_linear_algebra">Black box linear algebra</a></li>
    <li><a href="/wiki/decomposable_searching_problem">Decomposable searching problem</a></li>
    <li><a href="/wiki/offline_dsp">Decomposable searching problem - オフラインの場合</a></li>
    <li><a href="/wiki/sum_totient">トーティエント関数の和</a></li>
    <li><a href="/wiki/quadratic_field">二次体の整数論</a></li>
    <li><a href="/wiki/%E6%8B%A1%E5%BC%B5%E3%83%A6%E3%83%BC%E3%82%AF%E3%83%AA%E3%83%83%E3%83%89%E4%BA%92%E9%99%A4%E6%B3%95">拡張ユークリッドの互除法</a></li>
</ul>


<h4 class="shadow">一歩進んだテクニック</h4>
<ul>
    <li><a href="/wiki/trap">標準機能の罠</a></li>
    <li><a href="/wiki/error">誤差</a></li>
    <li><a href="/wiki/library_link">個人のライブラリ・スニペットのリンク</a></li>
    <li><a href="/wiki/auto_vectorization">gcc での自動ベクトル化</a></li>
</ul>


<h4 class="shadow">yukicoder API</h4>
<ul>
    <li><a href="https://petstore.swagger.io/?url=https://yukicoder.me/api/swagger.yaml">yukicoder Web API swagger</a></li>
</ul>


<h4 class="shadow">（多分考慮する必要がない）トリビア</h4>
<ul>
    <li>文字コードは見慣れたASCIIコードの他にも、EBCDICコードなどがある。<br>
        EBCDICだと c-'a' としてもアルファベット何番目が求めることができない。<a href="http://www.fellow-ship.com/tech/jisebc.html">http://www.fellow-ship.com/tech/jisebc.html</a>
    </li>
    <li>
        <a href="http://blogs.itmedia.co.jp/pina/2006/06/8_bf7b.html">知ってた？8進数のナゾ(外部サイト)</a>
        
    </li>
</ul>

<h4 class="shadow">ニコ生ツール</h4>
<h5 class="shadow">Chromeプラグイン</h5>
<ul>
    <li><a href="https://chrome.google.com/webstore/detail/%E3%83%8B%E3%82%B3%E7%94%9F%E3%82%A2%E3%83%AA%E3%83%BC%E3%83%8A/lkkpfmnibpgpmhbkjgldlmonaphmoobl?utm_source=chrome-app-launcher-info-dialog
">ニコ生アリーナ</a>
    自動的に次の枠に移ってくれるなどの機能がある。
</li>

    <li><a href="https://chrome.google.com/webstore/detail/%E3%83%8B%E3%82%B3%E7%94%9F%E3%83%81%E3%82%A7%E3%83%83%E5%90%9B/dopbeinnpeoefhekbnohenjnclnplcla?utm_source=chrome-app-launcher-info-dialog
">ニコ生チェッ君</a>
    登録したコミュニティが配信されてるかツールバーでチェックできる機能がある。
</li>

</ul>
<h5 class="shadow">Windowsアプリ</h5>
<ul>
    <li><a href="http://nlalove.web.fc2.com/">ニコ生アラート(Love) （なおさん作）</a>
    登録したコミュニティやユーザーの配信を見やすく通知してくれる。
</li>
</ul>
<h5 class="shadow">コメントビュワー</h5>
<ul>
    <li><a href="https://github.com/diginatu/Viqo/releases">Viqo (デジネイ氏作）</a> マルチプラットフォームのコメントビュワー　オープンソース・配信で開発中</li>
    <li><a href="https://github.com/kroton/kome">Kome (くろとんさん作）</a> マルチプラットフォームでターミナルコメントビュワー　オープンソース (要 Go SDK)</li>
    
</ul>



<h4 class="shadow">各種リンク</h4>

<ul>
    <li><a href="/wiki/external_service">外部サービス・ツール</a></li>

    <li><a href="/wiki/online_judge">競技プログラミング・オンラインジャッジサイト</a></li>

    <li><a href="http://www.atmarkit.co.jp/ait/articles/1402/24/news026.html">学習＆開発環境Webサービス23選まとめ</a></li>

    <li><a href="https://youtu.be/W6k_LV1Wzd4">プログラミングコンテストとアルゴリズム／アルゴリズムが世界を変える Season 1.5 (youtube)</a></li>
    
    <li><a href="http://paiza.hatenablog.com/entry/2015/04/16/IT%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2%E3%81%AE%E3%83%AC%E3%83%99%E3%83%AB%E3%82%A2%E3%83%83%E3%83%97%E3%81%AB%E6%9C%80%E9%81%A9%EF%BC%81%E7%AB%B6%E6%8A%80%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9">
    ITエンジニアのレベルアップに最適！競技プログラミングサイト10選 (paiza開発日誌)</a></li>
    <li><a href="http://www.atmarkit.co.jp/ait/articles/0911/17/news102.html">
    競技大好き、世界3位のアルゴリズマー「高橋直大」 (1/2)</a></li>


    <li><a href="https://topcoder.g.hatena.ne.jp/">TopCoder部＠はてな(外部サイト)</a><br>
        競技プログラミングコンテストの開催日時がカレンダーにまとめられていました。（更新されていないようです）
    </li>
    
</ul>

